Source: tpkbdctl
Section: utils
Priority: extra
Maintainer: Bernhard Seibold <bernhard.seibold@googlemail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/bseibold/tpkbdctl
Vcs-Git: git://github.com/bseibold/tpkbdctl.git
Vcs-Browser: https://github.com/bseibold/tpkbdctl

Package: tpkbdctl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lenovo ThinkPad USB Keyboard Control Tool
 This tool lets you control features of the Lenovo ThinkPad USB Keyboard
 with TrackPoint like sensitivity of the trackpoint.
